img {
    max-width: 100%;
}

@font-face {
    font-family: 'Museo';
    font-weight: normal;
    font-style: normal;
    src: url('Museo-700.ttf');
}

* {
    font-family: 'Museo';

}

#start {
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.title {
    color: #094C9A;
}


.option-img {
    position: relative;
    margin-top: 10vh;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.option-img button.show {
    margin-left: 25%;
    text-align: center;
    animation: onShow 1s forwards;
    transform: translateX(-20%);

}

@keyframes onShow {
    from {
        width: auto;
    }

    10% {
        width: 50%;
    }


    to {
        width: 70%;
    }
}

.option-img button {
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: large;
    padding: 5%;
    font-weight: 300;
    transition: all 1s linear;
}

.grey::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.grey2::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.option-img-1 {
    background-image: url("img/start-1.jpg");
}

.option-img-2 {
    background-image: url("img/start-2.jpg");
}

.option-img-3 {
    background-image: url("img/start-3.jpg");
}

.section-title {
    margin-top: 5vh;
}

/* zaproszenie */
.section-content {
    margin-top: 2vh;
    height: 100vh;
}

.letter {
    margin-top: 4%;
    /* background-color: antiquewhite; */
    min-height: 30vh;
}

/* wedrowka */
#wedrowka {
    height: 100vh;
}

.wedrowka-img {
    margin-top: 4%;
    margin-left: 50%;
    transform: translateX(-50%);
    max-height: 80vh;
}

/* Postęp */
#postep .section-title {
    margin-bottom: 4%;
}

.team {
    height: 22vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-bottom: 8%; */

}

#ruwenzori {
    background-image: url("img/ruwenzori.jpg");
}

#skaut {
    background-image: url("img/skaut.png");

}

#iter {
    background-image: url("img/iter.png");

}

#wyssogota {
    background-image: url("img/wyssogota.jpg");

}

#bukowina {
    background-image: url("img/bukowina.png");

}

#knieja {
    background-image: url("img/knieja.jpg");

}

#adsum {
    background-image: url("img/adsum.jpg");

}

#galeon {
    background-image: url("img/galeon.jpg");

}

#custodia {
    background-image: url("img/custodia.png");

}




/* to the top! */

.stt {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #094C9A url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    box-shadow: 0 0.25rem 0.5rem 0 gray;
    opacity: 0.7;
    z-index: 1000;
}

.stt:hover {
    opacity: 0.8;
}

.stt:focus {
    opacity: 0.9;
}

.stt:active {
    opacity: 1;
}

/* flip-card */
.flipcard {
    perspective: 800;
    -moz-perspective: 800;
    -webkit-perspective: 800;
    margin: 1em auto;
    width: 80%;
    border: solid 1em white;
    border-radius: 0.5em;
    font-family: Georgia;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    cursor: pointer;
}

.flipcard:hover {
    box-shadow: 0 0 1em black;
}

.flipcard.flipped {
    transform: rotatey(-180deg);
    -moz-transform: rotatey(-180deg);
    -webkit-transform: rotatey(-180deg);
}

.flipcard .face {
    padding: 1em;
    text-align: center;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flipcard .front {
    color: white;
    display: block;
}

.flipcard.flipped .front {
    display: none;
}

.flipcard .back {
    text-align: center;
    font-size: large;
    color: #094C9A;
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    display: none;
}

.flipcard .back p {
    margin-top: 15%;
    /* transform: translateY(-75%); */
}

.flipcard.flipped .back {
    display: block;
}